<div class="container" ng-controller="recipeBoxCtrl">
        <table class="table">
            <thead>
                <tr>
                    <th>Categories</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categorylist">
                    <td>{{category.categoryName}}</td>
					<td><button class="btn btn-primary" ng-click="getrecipes()">View Recipes</button></td>
                </tr>
            </tbody>
            <th><button id="newNoteCardButton" class="btn btn-primary" ng-click="createnew()">Create New</button></th>
        </table>
</div>