<div class="container" ng-controller="recipeBoxCtrl" ng-init="loadBox()">

    <div class="sidebar">
        <button id="newNoteCardButton" class="btn btn-default" ng-click="createnew()">Create New Notecard</button>
    </div>

    <div id="recipeBoxTabs" class="nav nav-tabs">
        <button class="btn btn-lg btn-tab" ng-repeat="category in categorylist" ng-click="getrecipes(category)">
            {{category.categoryName}}
        </button>
    </div>

    <div class="jumbotron container-fluid" id="jumbotron"></div>
</div>