
<!DOCTYPE html>
<html>
<head>
    <title>Daily Scrum Board</title>
    <link rel="stylesheet" media="all" href="/assets/application-bc7b7492b6d156609c0cdc0d14c52526f2970650c2c3c5a3d74d205fdcc2bd8f.css" data-turbolinks-track="true" />
    <script src="/assets/application-925dad6eaff63824908dc5d8bb9c1092927f652cc6a4c212823bd945168f69b0.js" data-turbolinks-track="true"></script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="wbJbSwr1HYpeYz3N34vz/CwdTzj7mnhyu6OJ0lZ4c0l1wlfqkPK3DZfgqIjN8eInd49sESGvxeu2v80MiEpTzQ==" />
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Daily Scrum</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/">View All Boards</a></li>
            <li><a href="/notecards">View All Notecards</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/sign_up">Sign Up</a></li>
            <li><a href="/users/sign_in">Sign In</a></li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div id="main-container" class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div id="content" class="col-md-12">
        <div class="page_title">
            <h1>All Notecards</h1>
        </div>

        <!-- Show all notecards -->
        <div class="notecard col-md-6">
            <div class="well well-lg">
                <ul>
                    <!-- Notecard Title -->
                    <li class="notecard_title"><a href="/boards/2/notecards/1">Update Views</a></li>

                    <!-- Notecard Date -->
                    <li><p class="notecard_column">Date: 2016-10-16</p></li>

                    <!-- Notecard Status -->
                    <li><p class="notecard_column">Task Status: Complete</p></li>

                    <!-- Notecard Accomplish? -->
                    <li>
                        <p class="notecard_column"><i>What did you accomplish yesterday?</i></br>Updated the home view with revisions to functionality allowing users to login.</p>
                    </li>

                    <!-- Notecard To Do? -->
                    <li>
                        <p class="notecard_column"><i>What are you doing today?</i></br>Update CSS to match look and feel of page to design comp</p>
                    </li>

                    <!-- Notecard Roadblocks? -->
                    <li>
                        <p class="notecard_column"><i>What are the roadblocks (if any)?</i></br>None</p>
                    </li>
                </ul>

                <!-- Notecard Edit -->
            </div>
        </div>
        <div class="notecard col-md-6">
            <div class="well well-lg">
                <ul>
                    <!-- Notecard Title -->
                    <li class="notecard_title"><a href="/boards/2/notecards/2">Resolve tickets in JIRA</a></li>

                    <!-- Notecard Date -->
                    <li><p class="notecard_column">Date: 2016-10-16</p></li>

                    <!-- Notecard Status -->
                    <li><p class="notecard_column">Task Status: Complete</p></li>

                    <!-- Notecard Accomplish? -->
                    <li>
                        <p class="notecard_column"><i>What did you accomplish yesterday?</i></br>Reviewed and resolved 14 tickets in JIRA</p>
                    </li>

                    <!-- Notecard To Do? -->
                    <li>
                        <p class="notecard_column"><i>What are you doing today?</i></br>None</p>
                    </li>

                    <!-- Notecard Roadblocks? -->
                    <li>
                        <p class="notecard_column"><i>What are the roadblocks (if any)?</i></br>Awaiting QA review of resolved tickets</p>
                    </li>
                </ul>

                <!-- Notecard Edit -->
            </div>
        </div>
        <div class="notecard col-md-6">
            <div class="well well-lg">
                <ul>
                    <!-- Notecard Title -->
                    <li class="notecard_title"><a href="/boards/3/notecards/3">Set up dev environment and pull assets for avatars</a></li>

                    <!-- Notecard Date -->
                    <li><p class="notecard_column">Date: 2016-10-16</p></li>

                    <!-- Notecard Status -->
                    <li><p class="notecard_column">Task Status: In Progress</p></li>

                    <!-- Notecard Accomplish? -->
                    <li>
                        <p class="notecard_column"><i>What did you accomplish yesterday?</i></br>Set up dev environment</p>
                    </li>

                    <!-- Notecard To Do? -->
                    <li>
                        <p class="notecard_column"><i>What are you doing today?</i></br>Pull assets from PSD</p>
                    </li>

                    <!-- Notecard Roadblocks? -->
                    <li>
                        <p class="notecard_column"><i>What are the roadblocks (if any)?</i></br>Need some layers saved to web quality</p>
                    </li>
                </ul>

                <!-- Notecard Edit -->
            </div>
        </div>
        <div class="notecard col-md-6">
            <div class="well well-lg">
                <ul>
                    <!-- Notecard Title -->
                    <li class="notecard_title"><a href="/boards/3/notecards/4">Create Google Analytics tags for implementation on site</a></li>

                    <!-- Notecard Date -->
                    <li><p class="notecard_column">Date: 2016-10-16</p></li>

                    <!-- Notecard Status -->
                    <li><p class="notecard_column">Task Status: In Progress</p></li>

                    <!-- Notecard Accomplish? -->
                    <li>
                        <p class="notecard_column"><i>What did you accomplish yesterday?</i></br>Identified best method for implementing tags on mapbox data</p>
                    </li>

                    <!-- Notecard To Do? -->
                    <li>
                        <p class="notecard_column"><i>What are you doing today?</i></br>Insert tags into code</p>
                    </li>

                    <!-- Notecard Roadblocks? -->
                    <li>
                        <p class="notecard_column"><i>What are the roadblocks (if any)?</i></br>None</p>
                    </li>
                </ul>

                <!-- Notecard Edit -->
            </div>
        </div>
        <div class="notecard col-md-6">
            <div class="well well-lg">
                <ul>
                    <!-- Notecard Title -->
                    <li class="notecard_title"><a href="/boards/3/notecards/5">Do fun things with game logic</a></li>

                    <!-- Notecard Date -->
                    <li><p class="notecard_column">Date: 2016-10-16</p></li>

                    <!-- Notecard Status -->
                    <li><p class="notecard_column">Task Status: In Progress</p></li>

                    <!-- Notecard Accomplish? -->
                    <li>
                        <p class="notecard_column"><i>What did you accomplish yesterday?</i></br>Made one fun thing happen with game logic</p>
                    </li>

                    <!-- Notecard To Do? -->
                    <li>
                        <p class="notecard_column"><i>What are you doing today?</i></br>Update with two more fun things</p>
                    </li>

                    <!-- Notecard Roadblocks? -->
                    <li>
                        <p class="notecard_column"><i>What are the roadblocks (if any)?</i></br>Have not identified second fun thing or third fun thing</p>
                    </li>
                </ul>

                <!-- Notecard Edit -->
            </div>
        </div>

    </div>
</div>

<footer></footer>

</body>
</html>




<table class="table">
    <thead>
    <tr>
        <th>Categories</th>
        <th>&nbsp;</th>
        <th>
            <button class="btn btn-primary" ng-click="createnew()">Create New</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categorylist">
        <td>{{category.categoryName}}</td>
        <td>
            <button class="btn btn-primary" ng-click="getrecipes()">View Recipes</button>
        </td>
    </tr>
    </tbody>
</table>

</div>
