

<div class="container-fluid" ng-controller="recipeDetailCtrl" ng-init="loadNotecard()">
	<h2 class="notecardHeader">Notecard</h2>

    <div class="row">
        <div class="col-md-12">
        </div>
    </div >
    <div id="content" class="col-md-12">
        <!-- <div class="page_title">
            <h1>All Notecards</h1>
        </div> -->

        <!-- Show all notecards -->
        <div class="notecard col-md-6">
            <div class="well well-lg">

                <ul >

                    <!-- Notecard Title -->
                    <li class="notecard_title"><a href="/boards/2/notecards/1">{{recipe.recipeName}}</a></li>


                    <table class="table">
                        <thead>
                        <tr>
                            <th><p class="notecard_column">Quantity</th>
                            <th><p class="notecard_column">Ingredient</th>
                            <th><p class="notecard_column">Calorie Count</th>
                            <th><p class="notecard_column">Action</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ingredient in ingredients">
                            <td><p class="notecard_column">{{ingredient.quantity}}</td>
                            <td><p class="notecard_column">{{ingredient.ingredient}}</td>
                            <td><p class="notecard_column">{{ingredient.caloriecount}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <li>
                        <p class="notecard_column"><i>Instructions</i></br>{{recipe.recipeInstructions}}</p>
                    </li>
					<li>
						<button class="btn btn-default" ng-click="edit(ingredient._id)">Edit Recipe</button>
					</li>
					<li>
						<button class="btn btn-default" ng-click="removeRecipe(recipe.recipeID)">Delete Recipe</button>
					</li>

                </ul>

                <!-- Notecard Edit -->
            </div>
        </div>


    </div>

</div>
<footer></footer>
